.Navbar {
  background-color: #0077b6;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
}

.Navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

.Navbar a:hover {
  color: #ffd166;
  transform: scale(1.1);
}
